.form-group {
    width: 100%;
    background: none;
    font-size: 18px;
    display: block;
    margin: auto;
    

    .input {
        width: 70%;

    }
    .textarea {
        width: 70%
    }
}